.btn1{
    background-color: orange;
    width: 180px;
    height: 58px;
font-size: xx-large;
}
.btn2{
    background-color: aqua;
    width: 180px;
    height: 58px;
font-size: xx-large;
}
.btn3{
    background-color: blue;
    width: 180px;
    height: 58px;
font-size: xx-large;
}
.btn4{
    background-color: green;
    width: 180px;
    height: 58px;
font-size: xx-large;
}
.btn5{
    color: white;
    background-color: black;
    width: 180px;
    height: 60px;
font-size: medium;
}
.btn6{
    color: white;
    background-color: red;
    width: 180px;
    height: 60px;
font-size: medium;
}
.btn7{
    color: black;
    background-color: gainsboro;
    width: 180px;
    height: 60px;
font-size: medium;
}